lenet/mnist/
!lenet/mnist/get_mnist.sh
lenet/caffe/mnist_test_lmdb/
lenet/caffe/mnist_train_lmdb/
lenet/.metadata/
lenet/brian2/cache/
lenet/brian2/output/
lenet/tensorflow/output/model/
cifar/dataset/
cifar/tf_cnn/output/
cifar/tf_snn/output/
cifar/tf_snn_trial/output/
cifar/tf_snn_trial2/output/
cifar/tf_snn_trial2/output/*
cifar/tf_snn_compare/output/
cifar/tf_test/output/
cifar/.metadata/
cifar/brian2/output/
*.soe-pc
